{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div>
        {% if editMode %}
            <h1>Modifier l'article</h1>
        {% else %}    
            <h1>Créer un article</h1>
        {% endif %}
    </div>

    {{ form_start(formArticle) }}

        {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
        {{ form_row(formArticle.category) }}
        {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}
        {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
        {{ form_widget(formArticle) }}

        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter l'article
            {% endif %}
        </button>

    {{ form_end(formArticle) }}

{% endblock body %}