{% extends 'base.html.twig' %}

{% block body %}
    <div><hr></div>

    <div class="jumbotron">
        
        <h1 class="display-3">Welcome to the rumble!</h1>
        
        <p class="lead">
            This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information. 
        </p>
        
        <hr class="my-4">
        
        <p>
            Un agrégat d'article complétement random...
        </p>
        
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{path("blog_articles" )}}" role="button">En route!</a>
        </p>
    </div>

{% endblock %}
